<%@link.in_groups_of(3).each do%>
<div class="d-flex flex-row justify-content-evenly">
<%=render partial: "partials/vedio-card", locals: {link: Link.first}%>
<%=render partial: "partials/vedio-card", locals: {link: Link.first}%>
<%=render partial: "partials/vedio-card", locals: {link: Link.first}%>
</div>
<%end%>